.about{
    overflow:visible;
    width: 100%;
    padding: 2rem 0;
    height: 100%;
}


.latest
    {
    overflow:hidden;
    padding: 0 0;
    height:0;
    width: 0;
}

#clickabout{
    background-color: rgb(243, 237, 237);
}



.widht{
    width: 0;
    overflow: hidden;
}